section.tango {
  display: block;
  min-height: 150px;
  text-align: center;
  span {
    display: inline-block;
    margin-right: 180px;
    font-family: 'Plafair Display', serif;
    font-size: 25px;
    font-weight: 600;
    color: #d0de72;
  }
  img {
    height: 150px;

    display: inline-block;
  }
}
